<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="login-wraper">
        <h2>Login</h2>
        <form method="post" , action="login_bak.html" id="login-form">
            <input type="text" name="userId" placeholder="ID">
            <input type="password" name="userPw" placeholder="Password">
            <label for="login-form">
                <input type="checkbox" id="login-check">아이디 저장하기
            </label>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>